<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="">Bharath</a>
            <a href="">Ane</a>
            <a href="">Nenu</a>
        </nav>
    </header>
    <main>Hami Istunanu darakane dorakane minchina vegamu tho naa this is life </main>
    <nav>once ther is a ship that put to sea and the name of the ship was lavioh sea </nav>
    <aside>down down and down oh boy levy boy go</aside>
    <footer>&copy; Made With Love Bharath Kamal</footer>
    
</body>
</html>