*{
    margin: 0px;
}
.container{
    display: grid;
    grid-row: 1fr;
    height: 100vh;
}
.row{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    
}
.bg-yellow{
    background: yellow;
}
.bg-blue{
    background-color: blue;
}
.bg-black{
    background-color: black;
    margin: 10px;
    color: aliceblue;
}