.container{
    color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    width: 99vw;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.container1{
    background-color: rgb(9, 100, 70);
    font-size: 20px;
}
.container2{
    background-color: rgb(64, 126, 23);
    font-size: 20px;
}
.container3{
    background-color: rgb(56, 23, 84);
    font-size: 20px;
}
.container4{
    background-color: rgb(154, 33, 61);
    font-size: 20px;
}
.container5{
    background-color: rgb(57, 17, 121);
    font-size: 20px;
}
.container6{
    background-color: rgb(183, 108, 34);
    font-size: 20px;
}
